@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.progressBar::before {
  content: '';
  display: block;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #000;
  z-index: 1;
}
