// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// LIGHTMODE
$LIGHT_BACKGROUND_OUTSIDE: #d9dff8;
$LIGHT_BACKGROUND_INSIDE: #f4f6fd;
$LIGHT_TITLE: #373b5e;
$LIGHT_SUBTITLE: #b4bbce;
$LIGHT_DEFAULT: #020417;
$LIGHT_ADD_BUTTON: #066aff;

// DARKMODE
$DARK_BACKGROUND_OUTSIDE: #d9dff8;
$DARK_BACKGROUND_INSIDE: #373b5e;
$DARK_TITLE: #f4f6fd;
$DARK_SUBTITLE: #b4bbce;
$DARK_DEFAULT: #f4f6fe;
$DARK_ADD_BUTTON: #066aff;

// CATEGORY COLORS
$CATEGORY_STUDY: #df0cf2;
$CATEGORY_BUSSINESS: #1068f6;
$CATEGORY_PERSONAL: #fadf00;
$CATEGORY_EXERCISE: #00e64c;
$CATEGORY_ECT: #ff5500;
